:root {
  --main--color: #b0b0b6;
  --background-color: #75777c;
  --widget--color: #df7a4b;
  --shadow-color: #b14818;
  --button-color: #df7a4b;
  --button-hover: #b14818;
}

.Layout {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
}

.Body {
  background-color: var(--background-color);
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 8px;
}

.Widgets {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 31%;
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--main--color); 
  padding: 8px;
  display: flex;
}

.InfoSettings{
  margin: 5px;
  padding-bottom: 45px;
}

.Information {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  height: 40%;
  width: 95%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main--color);
  padding: 8px;
  margin-bottom: 15px;
}

.Settings {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  width: 95%;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--main--color);
  padding: 10px;
}

.widgetButton {
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--widget--color);
  padding: 10px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.widgetButton:hover {
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border-color: black;
  background-color: var(--shadow-color);
}

.sliderSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  writing-mode:horizontal-tb;
  width: 90px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 90px;
  appearance: slider-vertical;
  margin: 0;
}

.widgetImg{
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.addButton {
  border-radius: 80px;
  padding: 15px 25px;
  background-color: var(--button-color);
  border: none;
  font-size: 20px;
  transition: 0.3s;
}

.addButton:hover {
  border-radius: 80px;
  padding: 15px 25px;
  background-color: var(--button-hover);
  border: none;
  font-size: 20px;
}

.setButton {
  border-radius: 10px;
  padding: 10px 10px;
  background-color: var(--button-color);
  border: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.setButton:hover {
  border-radius: 10px;
  padding: 10px 10px;
  background-color: var(--button-hover);
  border: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  font-size: 20px;
}