:root {
  --main--color: #888e8c;
  --widget--color: #81607a;
  --shadow-color: #66455f;
  --background-color: #696969;
  --headfoot-color: #626ec0;
  --button-color: #81607a;
  --button-hover: #66455f;
}

.Layout {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
}

.Body {
  background-color: var(--background-color);
  height: 650px;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 8px;
}

.Widgets {
  height: 80%;
  width: 50%;
  margin-right: 15px;
  border-radius: 10px;
  overflow-y: scroll;
  flex-direction: column;
  background-color: var(--main--color); 
  padding: 8px;
  display: flex;
}

.Timer {
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--widget--color);
  padding: 8px;
}

.Timer:hover {
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--shadow--color);
}

.Todo {
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--widget--color);
  padding: 8px;
}

.Todo:hover {
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--shadow--color);
}

.Reminder {
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--widget--color);
  padding: 8px;
}

.Reminder:hover {
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--shadow--color);
}

.Information {
  text-align: center;
  border-radius: 10px;
  width: 95%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--main--color);
  padding: 8px;
  margin-bottom: 15px;
}

.Settings {
  text-align: center;
  border-radius: 10px;
  width: 95%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--main--color);
  padding: 8px;
}
.sliderSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  writing-mode:horizontal-tb;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  appearance: slider-vertical;
  margin: 0;
}

.widgetImg{
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.addButton {
  border-radius: 80px;
  padding: 20px 30px;
  background-color: var(--button-color);
  border: none;
  font-size: 20px;
}

.addButton:hover {
  border-radius: 80px;
  padding: 15px 25px;
  background-color: var(--button-hover);
  border: none;
  font-size: 20px;
}