:root {
  --main--color: #b0b0b6;
  --background-color: #75777c;
  --widget--color: #df7a4b;
  --shadow-color: #b14818;
  --button-color: #df7a4b;
  --button-hover: #b14818;
  }

body {
    text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
}