:root {
  --main--color: #b0b0b6;
  --background-color: #75777c;
  --widget--color: #df7a4b;
  --shadow-color: #b14818;
  --button-color: #df7a4b;
  --button-hover: #b14818;
  }

body {
    text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
}

.textBackground {
  background-color: var(--main--color); 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 40%;
  padding: 1px;
  margin: 8px;
}

.setButton {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 15px;
  width: 100px;
  background: var(--button-color);
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.setButton:hover {
  background-color: var(--button-hover);
}

.ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}