:root {
  --main--color: #b0b0b6;
  --background-color: #75777c;
  --widget--color: #df7a4b;
  --shadow-color: #b14818;
  --button-color: #df7a4b;
  --button-hover: #b14818;
  }

body {
    text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
}

.textBackground {
  background-color: var(--main--color); 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 95%;
  padding: 1px;
  margin: 8px;
}

.setButton {
  border-radius: 10px;
  padding: 5px 5px;
  background-color: var(--button-color);
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.setButton:hover {
  border-radius: 10px;
  padding: 5px 5px;
  background-color: var(--button-hover);
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}