<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="todo.css"/>
    </head>
    
    <body>
        <body>

            <div id="myDIV" class="header">
              <h2 style="margin:5px">To-Do List</h2>
              <input type="text" id="input" placeholder="Title...">
              <span onclick="newElement()" class="addBtn">Add</span>
            </div>
            
            <ul id="myUL">
                <li>Add a objective here</li>
                <li>Add a objective here</li>
                <li>Add a objective here</li>
            </ul>
    </body>
    <script src = "todo.js"></script>
    
</html>


